
/*SoniciaNova website programming by Andrew Alban, 2016.
This code is property of SoniciaNova. Piracy of this code is illegal. */

body {
	background: linear-gradient(#0022c9,black);
	height:900px;
	text-align:center;
}
h1 {
	color:#00fde7;
}
p {
	font-size:18px;
}
#mainContainer {
	background:#0088bd;
	width:650px;
	height:800px;
	position:relative;
	top:50px;
	margin:auto;
	padding:7px;
	border-right:solid 7.5px #004f6d;
	border-bottom:solid 10px #004f6d;
	text-align:left;
	color:white;
	font-family:Arial;
	padding-left:25px;
	padding-right:25px;
}
#header {
	background:radial-gradient(closest-side at 50% 90%,white,grey,black);
	border-left:solid 7.5px #004f6d;
	border-top:solid 7.5px #004f6d;
	height:100px;
	width:575px;
	margin:auto;
	position:relative;
	top:30px;
	text-align:center;
}
#website_title {
	position:relative;
	top:15px;
}
#navBar {
	width:575px;
	height:53px;
	border-left:solid 7.5px #004f6d;
	background:black;
	position:relative;
	margin:auto;
	top:25px;
	text-align:center;
}
#homeButton {
	border-left:2px solid white;
	border-right:2px solid white;
}
#footer {
	color:white;
	font-family:Arial;
	font-size:18px;
	position:relative;
}
.navButton {
	width:190.2px;
	height:40px;
	padding-top:10px;
	color:white;
	font-family:Arial;
	display:inline-block;
	position:relative;
	top:2.5px;
	background:linear-gradient(black,#0022c9);
	font-size:20px;
}
.navButton:hover {
	background:#0022c9;
}
.playButton {
	background:black;
	text-align:center;
	color:white;
	font-size:Arial;
	font-size:20px;
	border-left:solid 7.5px #004f6d;
	border-top:solid 7.5px #004f6d;
}

/*Press the Arrow Game*/

/*All programming by Andrew W. Alban, 2016
Distributed by SoniciaNova, founded by Andrew W. Alban*/

#gameContainer {
	background-color:black;
	width:550px;
	height:400px;
	margin:auto;
	text-align:center;
	border:black;
	color:white;
	font-family:Arial;
	border:1px solid black;
}
#startButton {
	background-color:black;
	border:1px solid white;
	color:white;
	padding:5px;
	font-size:24px;
	font-family:Arial;
	position:relative;
	top:175px;
	width:100px;
	height:50px;
}
#startButton:hover {
	color:yellow;
	border:1px solid yellow;
}
#logo {
	width:400px;
	height:350px;
}
#title {
	width:400px;
	height:55px;
	position:relative;
	top:20px;
}
.divider {
	width:425px;
	height:1px;
	background-color:white;
	border:1px solid white;
	margin:auto;
}
#sonicianova {
	height:35px;
	width:175px;
	position:relative;
	top:8px;
}
.menuButton {
	height:67.5px;
	width:125px;
	background:linear-gradient(#0091ea,#0065a3);
	color:white;
	border:1px solid black;
	font-size:24px;
}
.menuButton:hover {
	background:linear-gradient(#e1e300,#b5b600);
	color:#046b00;
}
p {
	font-size:20px;
}
#cooltext {
	width:150px;
	height:35px;
	position:relative;
	top:8px;
}
#countdown {
	color:yellow;
}
#arrow {
	font-size:48px;
}
#score {
	color:yellow;
}
#hiscore {
	color:yellow;
}
#press_enter {
	font-size:12px;
}
#biggerButton {
	padding-top:5px;
	position:relative;
	top:-13px;
}